credentials:
    jwt:
        secret_api: {{getv "/jwt/secret_api"}}
    db:
        database: {{getv "/db/database"}}
        username: {{getv "/db/username"}}
        password: {{getv "/db/password"}}
    ged.picker:
        url: {{getv "/ged/picker/url"}}
    uid.generator:
        url: {{getv "/uid/generator/url"}}
