credentials.jwt.secretapi: {{getv "/jwt/secretapi"}}
credentials.db.database: {{getv "/db/database"}}
credentials.db.username: {{getv "/db/username"}}
credentials.db.password: {{getv "/db/password"}}
credentials.ged.picker.url: {{getv "/ged/picker/url"}}
credentials.uid.generator.url: {{getv "/uid/generator/url"}}
