# JDBC
spring.datasource.url=jdbc:postgresql://{{getv "/spring/datasource/host"}}:{{getv "/spring/datasource/port"}}/{{getv "/spring/datasource/database"}}
spring.datasource.username={{getv "/spring/datasource/username"}}
spring.datasource.password={{getv "/spring/datasource/password"}}
